# Git configuration
# Place at ~/.gitconfig for global config
# See also the 'FILES' section of 'git help config'
[alias]
    b           = branch -l
    bl          = branch -l
    ba          = branch -a
    l           = log
    sg          = log --oneline --graph --date=short
    sgs         = sg -n 15
    lr          = log --format='%h %Cgreen %ad %Creset %s' --no-merges --date='format:%b %d: %H:%M %z'
    contribs    = shortlog --summary --numbered
    a           = add
    aa          = add .
    c           = commit
    ca          = commit -a
    cm          = commit -m
    cam         = commit -a -m
    d           = diff
    s           = status
    sb          = status -sb
    sincetag    = "!f() { git log $(git describe --tags --abbrev=0)..HEAD; }; f"
    nuke        = "!f() { git branch -D \"$1\" && git push origin --delete \"$1\"; }; f"
    t           = tag -l
    rv          = remote -v
    aliases     = config --get-regexp alias
[core]
    editor = code --wait
    excludesfile = ~/.gitignore_global
    pager = diff-so-fancy | less --tabs=4 -RFX
[color]
    diff = auto
    stats = auto
    branch = auto
    ui = true
[color "diff"]
    old = red bold
    new = green bold
    meta = 11
    frag = magenta bold
    commit = yellow bold
    whitespace = red reverse
[color "diff-highlight"]
    oldNormal = red bold
    oldHighlight = red bold 52
    newNormal = green bold
    newHighlight = green bold 22
[http]
    postBuffer = 524288000
    version = HTTP/1.1
[push]
    default = simple
    autoSetupRemote = true
[user]
	name = Brad Solomon
	email = 81818815+brsolomon-deloitte@users.noreply.github.com
